/* ----- pages and images ----- */
  #openingPage {
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  #secondPage {
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  .image1{
    background-image: url("https://i.imgur.com/KLEBSiT.png");
    background-size: cover; 
  }
  .image2{
    background-image: url("https://i.imgur.com/TeDb7Aq.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }
  /* ----- page one details ------ */
  #name {
    font-size: 50px;
    margin-bottom: 1px;
  }
  #title {
    font-size: 25px;
  }
 .bio {
    /* border: 2px solid red; */
    margin-top: 15%;
    font-size: 21px;
  }
  #arrow {
    font-size: 50px;
    margin-left: 80%;
    margin-top: -8%;
  }
    /* ----- page two details ------ */
  .secondDiv{
    height: 100vh;
    width: 100vw;
  }
  .portfolioSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }
  .guitarStop{
    max-height: 20vh;
  }
  .connectSection{
    margin-left: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .connectIcon{
    max-height: 3vh;
  }
  .connectLine{
    display: flex;
    gap: 10px;
    margin-left: 10px;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  .aboutSection{
    max-width: 35vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: -10vh;
  }
  .aboutHeader{
    align-self: flex-start;
    margin: 0 0 0 3vh;
    font-size: 27px;
  }
  .becPic{
    max-width: 14vw;
  }
  .middleDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5vw 0 5vw;
  }
  .thanks{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-size: 25px;
  }