/* ----- pages and images ----- */
  #openingPage {
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  #secondPage {
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  .image1{
    background-image: url("https://i.imgur.com/KLEBSiT.png");
    background-size: cover; 
  }
  .image2{
    background-image: url("https://i.imgur.com/TeDb7Aq.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }
  /* ----- page one details ------ */
  #name {
    font-size: 50px;
    margin-bottom: 1px;
  }
  #title {
    font-size: 25px;
  }
 .bio {
    /* border: 2px solid red; */
    margin-top: 15%;
    font-size: 21px;
  }
  #arrow {
    font-size: 50px;
    margin-left: 80%;
    margin-top: -8%;
  }
    /* ----- page two details ------ */
  .secondDiv{
    height: 100vh;
    width: 100vw;
  }
  .guitarStop{
    max-height: 20vh;
  }